html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, input, textarea, header, button {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
} 
button {
	background: transparent; /* Fix for Chrome and Firefox OS */
}
:focus {
    outline: 0;
} 
ol, ul {
    list-style: none;
} 
table {
    border-collapse: separate;
    border-spacing: 0;
} 
caption, th, td {
    text-align: left;
    font-weight: normal;
} 
blockquote:before, blockquote:after, q:before, q:after {
    content: "";
} 
blockquote, q {
    quotes: "" "";
} 

html, body {
	overflow: hidden;
}

body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	font-size: 18px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: relative;
	word-wrap: break-word;
	-webkit-text-size-adjust: none;
	        text-size-adjust: none;
	height: 100%;
	font-weight: 300;
	line-height: 1;
	color: rgb(0, 0, 0);
	background-color: rgb(255, 255, 255);
}


/* Tabbar */
nav {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 49px;
	text-align: center;
	background-color: rgba(248, 248, 248, 0.9);
	background-image: linear-gradient(180deg, rgb(200, 199, 204), rgb(200, 199, 204) 50%, transparent 50%);
	background-size: 100% 1px;
	background-repeat: no-repeat;
	background-position: top center;
	z-index: 100;
}

nav button {
	display: inline-block;
	width: 64px;
	text-align: center;
	font-size: 10px;
	line-height: 1em;
	padding: 6px 0 0 0;
	margin: 0;
	color: rgb(111, 111, 116);
}

nav button.active {
	color:rgb(21, 125, 251);
}
nav button .btn-icon {
	display: inline-block;
	background-color: rgb(111, 111, 116);
	height: 24px;
	width: 24px;
	margin-bottom: 2px;
}
nav button.active .btn-icon {
	background-color:rgb(21, 125, 251);
}

/* Views */
section {
	position: fixed;
	width: 100%;
	height: 100%;
}
.hidden {
	display: none;
}
.slin, .srin, .slout, .srout, .popin, .popout, .noanim {
	pointer-events: none;
}

.spinner {
	background: url(../img/spinner.svg) center no-repeat;
    	-webkit-animation: rotate 1.5s infinite steps(12);
    	   -moz-animation: rotate 1.5s infinite steps(12);
    	    -ms-animation: rotate 1.5s infinite steps(12);
    	     -o-animation: rotate 1.5s infinite steps(12);
    	        animation: rotate 1.5s infinite steps(12);
}

header {
	position: absolute;
	top:0;
	height: 44px;
	line-height: 44px;
	width: 100%;
	padding-top: 0;
	background-color: rgba(248, 248, 248, 0.9);
	background-image: linear-gradient(0deg, rgb(200, 199, 204), rgb(200, 199, 204) 50%, transparent 50%);
	background-size: 100% 1px;
	background-repeat: no-repeat;
	background-position: bottom;
	z-index: 10;
	-webkit-user-select: none;
	   -moz-user-select: none;
	        user-select: none;
	-webkit-touch-callout: none;
}
header button {
	position: absolute;
	top: 0;
	display: inline-block;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	font-size: 17px;
	color:rgb(21, 125, 251);
	padding: 0;
	font-weight: 300;
	height: 44px;
	line-height: 44px;
	text-overflow: ellipsis !important; /* why so !important ? */
	max-width: 140px;
}
header button:active {
	opacity: 0.3;
}
header button.bold {
	font-weight: 500;
}
header button.green {
	color:rgb(41, 197, 25);
}
header button.disabled {
	color:rgb(200, 199, 204);
}
header button.arrow {
	background-size: 24px 44px;
	background-repeat: no-repeat;
}

header button.left {
	left:0;
	padding-left: 9px;
}
header button.left.arrow {
	padding-left: 23px;
	background-image: url(../img/backBtn.svg);
	background-position: left bottom;
}
header button.right {
	right:0;
	text-align: right;
	padding-right: 9px;
}
header button.right.arrow {
	padding-right: 23px;
	background-image: url(../img/nextBtn.svg);
	background-position: right bottom;
}


h1 {
	display: block;
	padding: 0;
	font-size: 17px;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: center;
	overflow: hidden;
	-webkit-box-flex: 1;
	   -moz-box-flex: 1;
	        box-flex: 1;
	margin: 0 65px;
	font-weight: 500;
    -webkit-tap-highlight-color: transparent;
}

section .scroll, section .scrollMask, section header button, section h1, section,  header button .label {
	-webkit-animation-fill-mode: forwards;
	        animation-fill-mode: forwards;
	-webkit-animation-duration: 400ms;
	        animation-duration: 400ms;
}
section .scroll, section .scrollMask, section h1, section,  section header button .label {
	-webkit-animation-timing-function: cubic-bezier(.1, .7, .1, 1);
	        animation-timing-function: cubic-bezier(.1, .7, .1, 1);
}
.slin header button, .srin header button {
	-webkit-animation-timing-function: cubic-bezier(.6, .1, .3, 1);
	        animation-timing-function: cubic-bezier(.6, .1, .3, 1);
}
.slout header button, .srout header button {
	-webkit-animation-timing-function: cubic-bezier(.1, 1, .1, 1);
	        animation-timing-function: cubic-bezier(.1, 1, .1, 1);
}
.slin .scroll {
    -webkit-animation-name: slin-scroll;
            animation-name: slin-scroll;
}
.slin .scrollMask {
    -webkit-animation-name: slin-scrollMask;
            animation-name: slin-scrollMask;
}
.slin h1 {
    -webkit-animation-name: slin-textbox;
            animation-name: slin-textbox;
}
.slin header button {
    -webkit-animation-name: fadein;
            animation-name: fadein;
}
.slin header button.left.arrow .label {
    -webkit-animation-name: slin-left-nav-btn;
            animation-name: slin-left-nav-btn;
}
.slin header, .slin .scroll {
    background-color: transparent;
}
.slout header button {
    -webkit-animation-name: fadeout;
            animation-name: fadeout;
}
.slout header button.left.arrow .label {
    -webkit-animation-name: slout-left-nav-btn;
            animation-name: slout-left-nav-btn;
}
.slout h1 {
    -webkit-animation-name: slout-textbox;
            animation-name: slout-textbox;
}
.slout .scroll, .slout .scrollMask {
    -webkit-animation-name: slout-scroll;
            animation-name: slout-scroll;
}

/* webkit */
@-webkit-keyframes slin-scroll {
	from { -webkit-transform: translateX(100%); }
	to   { -webkit-transform: translateX(0);    }
}
@-webkit-keyframes slin-scrollMask {
	from { -webkit-transform: translateX(100%); -webkit-box-shadow: -10px 0 10px -5px rgba(0, 0, 0, 0.2);  }
	to   { -webkit-transform: translateX(0);    -webkit-box-shadow: -10px 0 10px -5px rgba(0, 0, 0, 0.02); }
}
@-webkit-keyframes slin-textbox {
	from { -webkit-transform: translateX(60%); opacity: 0; }
	to   { -webkit-transform: translateX(0);   opacity: 1; }
}
@-webkit-keyframes slin-left-nav-btn {
	from { -webkit-transform: translateX(100%); }
	to   { -webkit-transform: translateX(0);    }
}
@-webkit-keyframes slout-left-nav-btn {
	from { -webkit-transform: translateX(0);     }
	to   { -webkit-transform: translateX(-100%); }
}
@-webkit-keyframes slout-textbox {
	from { -webkit-transform: translateX(0);    opacity: 1; }
	to   { -webkit-transform: translateX(-40%); opacity: 0; }
}
@-webkit-keyframes slout-scroll {
	from { -webkit-transform: translateX(0);    opacity: 1;   }
	to   { -webkit-transform: translateX(-25%); opacity: 0.9; }
}
@-webkit-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}
@-webkit-keyframes fadeout {
	from { opacity: 1; }
	to   { opacity: 0; }
}

/* W3C */
@keyframes slin-scroll {
	from { transform: translateX(100%); }
	to   { transform: translateX(0);    }
}
@keyframes slin-scrollMask {
	from { transform: translateX(100%); box-shadow: -10px 0 10px -5px rgba(0, 0, 0, 0.2);  }
	to   { transform: translateX(0);    box-shadow: -10px 0 10px -5px rgba(0, 0, 0, 0.02); }
}
@keyframes slin-textbox {
	from { transform: translateX(60%); opacity: 0; }
	to   { transform: translateX(0);   opacity: 1; }
}
@keyframes slin-left-nav-btn {
	from { transform: translateX(100%); }
	to   { transform: translateX(0);    }
}
@keyframes slout-left-nav-btn {
	from { transform: translateX(0);     }
	to   { transform: translateX(-100%); }
}
@keyframes slout-textbox {
	from { transform: translateX(0);    opacity: 1; }
	to   { transform: translateX(-40%); opacity: 0; }
}
@keyframes slout-scroll {
	from { transform: translateX(0);    opacity: 1;   }
	to   { transform: translateX(-25%); opacity: 0.9; }
}
@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}
@keyframes fadeout {
	from { opacity: 1; }
	to   { opacity: 0; }
}

.srout .scroll {
    -webkit-animation-name: srout-scroll;
            animation-name: srout-scroll;
}
.srout .scrollMask {
    -webkit-animation-name: srout-scrollMask;
            animation-name: srout-scrollMask;
}
.srout h1 {
    -webkit-animation-name: srout-textbox;
            animation-name: srout-textbox;
}
.srout header button {
    -webkit-animation-name: fadeout;
            animation-name: fadeout;
}
.srout header button.left.arrow .label {
    -webkit-animation-name: srout-left-nav-btn;
            animation-name: srout-left-nav-btn;
}
.srout header, .srout .scroll {
    background-color: transparent;
}
.srin header button {
    -webkit-animation-name: fadein;
            animation-name: fadein;
}
.srin header button.left.arrow .label {
    -webkit-animation-name: srin-left-nav-btn;
            animation-name: srin-left-nav-btn;
}
.srin h1 {
    -webkit-animation-name: srin-textbox;
            animation-name: srin-textbox;
}
.srin .scroll, .srin .scrollMask {
    -webkit-animation-name: srin-scroll;
            animation-name: srin-scroll;
}

/* webkit */
@-webkit-keyframes srout-scroll {
	from { -webkit-transform: translateX(0);    }
	to   { -webkit-transform: translateX(100%); }
}
@-webkit-keyframes srout-scrollMask {
	from { -webkit-transform: translateX(0);    -webkit-box-shadow: -10px 0 10px -5px rgba(0, 0, 0, 0.02); }
	to   { -webkit-transform: translateX(100%); -webkit-box-shadow: -10px 0 10px -5px rgba(0, 0, 0, 0.2);  }
}
@-webkit-keyframes srout-textbox {
	from { -webkit-transform: translateX(0);   opacity: 1; }
	to   { -webkit-transform: translateX(60%); opacity: 0; }
}
@-webkit-keyframes srout-left-nav-btn {
	from { -webkit-transform: translateX(0);    opacity: 1; }
	to   { -webkit-transform: translateX(100%); opacity: 0; }
}
@-webkit-keyframes srin-left-nav-btn {
	from { -webkit-transform: translateX(-100%); opacity: 0; }
	to   { -webkit-transform: translateX(0);     opacity: 1; }
}
@-webkit-keyframes srin-textbox {
	from { -webkit-transform: translateX(-50%); opacity: 0; }
	to   { -webkit-transform: translateX(0);    opacity: 1; }
}
@-webkit-keyframes srin-scroll {
	from { -webkit-transform: translateX(-25%); opacity: 0.9; }
	to   { -webkit-transform: translateX(0);    opacity: 1;   }
}

/* W3C */
@keyframes srout-scroll {
	from { transform: translateX(0);    }
	to   { transform: translateX(100%); }
}
@keyframes srout-scrollMask {
	from { transform: translateX(0);    -webkit-box-shadow: -10px 0 10px -5px rgba(0, 0, 0, 0.02); }
	to   { transform: translateX(100%); -webkit-box-shadow: -10px 0 10px -5px rgba(0, 0, 0, 0.2);  }
}
@keyframes srout-textbox {
	from { transform: translateX(0);   opacity: 1; }
	to   { transform: translateX(60%); opacity: 0; }
}
@keyframes srout-left-nav-btn {
	from { transform: translateX(0);    opacity: 1; }
	to   { transform: translateX(100%); opacity: 0; }
}
@keyframes srin-left-nav-btn {
	from { transform: translateX(-100%); opacity: 0; }
	to   { transform: translateX(0);     opacity: 1; }
}
@keyframes srin-textbox {
	from { transform: translateX(-50%); opacity: 0; }
	to   { transform: translateX(0);    opacity: 1; }
}
@keyframes srin-scroll {
	from { transform: translateX(-25%); opacity: 0.9; }
	to   { transform: translateX(0);    opacity: 1;   }
}

.popin {
    -webkit-animation-name: popin;
            animation-name: popin;
}
@-webkit-keyframes popin {
	from { -webkit-transform: translateY(100%); /* opacity: 1; */ }
	to   { -webkit-transform: translateY(0);    /* opacity: 0; */ }
}
@keyframes popin {
	from { transform: translateY(100%); /* opacity: 1; */ }
	to   { transform: translateY(0);    /* opacity: 0; */ }
}

.popout {
    -webkit-animation-name: popout;
            animation-name: popout;
}
@-webkit-keyframes popout {
	from { -webkit-transform: translateY(0);    /* opacity: 1; */ }
	to   { -webkit-transform: translateY(100%); /* opacity: 0; */ }
}
@keyframes popout {
	from { transform: translateY(0);    /* opacity: 1; */ }
	to   { transform: translateY(100%); /* opacity: 0; */ }
}

.noanim {
    -webkit-animation-name: noanim;
            animation-name: noanim;
}
@-webkit-keyframes noanim {
	from { opacity: 1; }
	to   { opacity: 1; }
}
@keyframes noanim {
	from { opacity: 1; }
	to   { opacity: 1; }
}
.slin .scrollMask, .srout .scrollMask {
	z-index: 5;
}
.slin .scrollWrap, .srout .scrollWrap {
	z-index: 6;
}

.scrollWrap {
	position: absolute;
	top: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
}
.scroll {
	width: 100%;
	padding-right: 20px;
	height: 100%;
	background-color: rgb(255, 255, 255);
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	z-index: 1;
	opacity: 1;
}
.scrollMask {
	width: 100%;
	position: absolute;
	top: 44px;
	bottom: 0;
	background-color: rgb(255, 255, 255);
	-webkit-box-shadow: -10px 0 10px -5px rgba(0, 0, 0, 0.1);
	        box-shadow: -10px 0 10px -5px rgba(0, 0, 0, 0.1);
}
.slout .scrollMask, .srin .scrollMask {
	background-color: #000;
}

.content {
	line-height: 1em;
	margin-top: 44px;
	font-weight: 400;
	padding-bottom: 54px;
}
input, textarea {
	display: block;
	position: relative;
	width: 90.6%;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    font-weight: 300;
    border-radius: 0;
    box-shadow: none;
    padding: 6px 4.7% 6px 0;
    margin-left: 4.7%;
    background-color: transparent;
    -webkit-tap-highlight-color: transparent;
	background-image: linear-gradient(0deg, rgb(200, 199, 204), rgb(200, 199, 204) 50%, transparent 50%);
	background-size: 100% 1px;
	background-repeat: no-repeat;
	background-position: bottom;
}

li {
	display: block;
    padding: 6px 15px 6px 0;
    margin-left: 15px;
    font-weight: 300;
	background-image: linear-gradient(0deg, rgb(200, 199, 204), rgb(200, 199, 204) 50%, transparent 50%);
	background-size: 100% 1px;
	background-repeat: no-repeat;
	background-position: bottom;
}
li .big {
	font-weight: 500;
}
li .light {
	color: rgb(111, 111, 116);
	padding: 10px 0 5px 0;
}
.arrowed .innerLi {
	background-image: url(../img/listArrow.svg);
	background-size: 15px 15px;
	background-repeat: no-repeat;
	background-position: right center;
    padding-right: 5%;
}

h2 {
	font-size: 2em;
	line-height: 1.5em;
	font-weight: 400;
	text-align: center;
    padding: 6px;
}
p {
	line-height: 1.5em;
	text-align: center;
    padding: 6px;
}
.content button {
	padding: 12px 18px;
	border-radius: 6px;
	box-shadow: 0 1px 1px -1px rgba(200, 199, 204, .5);
	font-weight: 300;
	font-size: 18px;
    -webkit-tap-highlight-color: transparent;
}
.content button:active {
	opacity: 0.3;
}


.center {
    text-align: center;
}
strong {
    font-weight: 500;
}
em {
    font-style: italic;
}

.native header button, .native header {
	padding-top: 20px;
}
.native .content {
	margin-top: 64px;
}
.native .nav-icons {
	top: 20px;
}
.native .scrollMask {
	top: 64px;
}

@media (-webkit-max-device-pixel-ratio: 1) {
	li, input, textarea, header {
		background-image: none;
		border-bottom: 1px solid rgb(200, 199, 204);
	}
}
@media (max-device-pixel-ratio: 1) {
	li, input, textarea, header {
		background-image: none;
		border-bottom: 1px solid rgb(200, 199, 204);
	}
}
